* {
    margin: 0;
    padding: 0;
}

body {
    background-color: slategray;
}


/* NAVIGATION */
nav {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    background-color: white;
    border: 5px solid black;
}
#navLinks {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    align-items: center;
}

#navlinks li {
    margin: 0 10px;
}

#navLinks li:hover {
    background-color: #ebf4fa
}

/* BIO */

#bioPage {
    background-color: white;
    border: 5px solid black;
    margin: 10px 0;
    text-align: justify;
}

#bioPage p {
    margin: 10px 5px;
}

/* TECHNOLOGIES */

#technologiesPage {
    width: 10%;
    border: 5px solid black;
    background-color: white;
    margin: 10px 0;
}

#technologiesPage li {
    margin: 10px 5px;
}

/* FOOTER */

.page-footer {
    background-color: white;
    border: 5px solid black;
    margin: 10px 0;
    float: right;
}

.page-footer a {
    text-decoration: none;
}