* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #CFDBD5;
}

a:link {
    text-decoration: none;
}

/* NAVIGATION */
nav {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    background-color: #F5CB5C;
    border: 5px solid #242423;
}
#navLinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

#navlinks li {
    margin: 0 10px;
}

#navLinks li:hover {
    background-color: #E8EDDF
}

/* BIO */

.bio-container {
display: flex;
justify-content: center;
}

#bioPage {
    background-color: #E8EDDF;
    border: 5px solid black;
    margin: 10px 0;
    text-align: justify;
    width: 75%;
}

#bioPage p {
    margin: 10px 5px;
}

/* TECHNOLOGIES */

#technologiesPage {
    width: 30%;
    margin: auto;
}

#technologiesPage img {
    width: 70px;
}
.listContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
}

#technologiesPage li {
    margin: 10px 5px;
}
/* PROJECT CARDS */

#projectsPage {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.project-info {
    display: flex;
    flex-flow: column nowrap;
    width: 40%;
    margin: 20px;
    border: 2px solid #242423;
    background-color: #E8EDDF;
}

.project-title {
    text-align: center;
    background-color: #F5CB5C;
    color: #333533;
}
.project-info img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 50%;
}

.project-description {
    text-align: center;
}

.project-tech {
    text-align: center;
}
.project-url {
    text-align: center;
}
.project-hub {
    text-align: center;
}

/* FOOTER */

.page-footer {
    display: flex;
    width: 100%;
    background-color: #F5CB5C;
    border: 5px solid #242423;
    position: fixed;
    left: 0;
    bottom: 0;
    justify-content: center;
}

.page-footer img {
    width: 40px;
}